# ðŸš¢ Titanic Dataset EDA

This notebook explores the Titanic dataset to uncover survival patterns based on age, gender, and class.b

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Titanic dataset from seaborn
df = sns.load_dataset('titanic.csv')
df.head()

In [ ]:
df.info()
df.describe()
df.isnull().sum()

In [ ]:
df['age'].fillna(df['age'].median(), inplace=True)
df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)

In [ ]:
sns.countplot(x='sex', hue='survived', data=df)
plt.title('Survival by Gender')
plt.show()